
.banner {
  background-color:grey;
  color: antiquewhite;
  padding: 0.5rem;
}

.gridItem {
  border: 1px solid lightgrey;
  background-color: grey;
  height: 25px;
  width: 100%;
  clear: both;
}

.gridItem:hover {
  background-color: rgba(128, 128, 128, 0.822);
}

.button {
  background-color: rgb(218, 218, 218);
  color: rgb(54, 51, 124);
  border: 1px solid rgb(54, 51, 124);
  min-width: 10rem;
  padding: 10px;
  font-size: 1.3rem;
  transition: 0.2s;
}
  
.button:hover {
  border: 1px solid rgb(252, 156, 217);
}

.notification {
  position:fixed; 
  top: 0px; 
  left: 0px; 
  width: 100%;
  z-index:9999;
  text-align: center;
}